<!DOCTYPE html>
<!-- file: views/professor/edit.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    {{#professor}}
    <form action="/professor/{{id}}" method="POST">
	 <input type="hidden" name="_method" value="PUT">
     <div class="row">
      <div class="six columns">
       <label for="nameInput">Name</label>
       <input class="u-full-width" type="text"
          name="name" value="{{name}}">
      </div>
      <div class="six columns">
       <label for="degreeInput">Degree</label>
       <input class="u-full-width" type="text"
          name="degree" value="{{degree}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="emailInput">Email</label>
       <input class="u-full-width" type="email"
          name="email" value="{{email}}">
      </div>
      <div class="six columns">
       <label for="phoneInput">Phone</label>
       <input class="u-full-width" type="tel"
         name="phone" value="{{phone}}">
      </div>
     </div>
     <input class="button-primary" type="submit" value="Update">
    </form>
    {{/professor}}
   </div>
  </div>
 </div>
</body>
</html>