<!DOCTYPE html>
<!-- file: views/professor/lis.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <table><thead>
      <tr><th>Name</th><th>Degree</th><th>Email</th>
          <th>Phone</th><th>Actions</th></tr>
      </thead><tbody>
      {{#professors}}
      <tr><td>{{name}}</td>
      <td>{{degree}}</td>
      <td>{{email}}</td>
      <td>{{phone}}</td>
      <td>
      <a class="button" href="professor/{{id}}">Show</a>
      <a class="button" href="professor/{{id}}/edit">Edit</a>
      </td>
      </tr>
      {{/professors}}</tbody>
     </table>
     <a class="button button-primary" href="/professor/create">New</a>
   </div>
  </div>
 </div>
</body>
</html>